body {
    font-family: Helvetica, Calibri, sans-serif;
}
#header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  font-size: 25px;
}
#header-img {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 125px;
  width: 125px;
}
#nav-bar {
  color: #A52A2A;
  float: right;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.navlink {
  
}
#form {
  
}
#video {
  margin: 0 auto;
	border: 10px outset #ddd;
}
#email {
  width: 40%;
  height: 10px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #191970;
}
#submit {
  height: 20px;
  width: 70px;
  cursor: pointer;
}
.flex-container	{
	display: flex;
}
.flex-container > div {
	width: 50%;
	padding: 10px;
}
.flex-container > div:first-child {
	margin-right: 20px;
}
@media only screen and (orientation: landscape) {
  body {
    background-color: #A52A2A;
  }
}